.container {
    max-width: 800px;
}

header {
    height: 8em;
}

.logo {
    margin: auto;
    margin-top: 20px;
    max-height: 90px;
}


.contacts {
    margin: auto;
    font-weight: 700;
}

.title  {
    font-size: 20px;
}