.container {
    max-width: 900px;
    border: 1px solid #5bc0de;
    border-radius: 50px;
}

header {
    height: 80px;
    background-color: #5bc0de;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.logo {
    margin: auto;
}

.title  {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.contacts {
    font-weight: 700;
    text-align: center;
}

.email {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.tel {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.button-authorization {
    margin-top: 15px;
}

.banner {
    width: 900px;
    margin-top: 20px;
    background-image: url("../img/banner.jpg");
    height: 286px;
    border-radius: 50px;
}

.top-menu {
    margin: auto;
    height: 40px;
    width: 900px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}

.main {
    font-weight: bold;
    text-decoration: none;
    color: darkred;
}

.listOfBooks {
    font-weight: bold;
    text-decoration: none;
    color: darkred;
}

.listOfBooksUser {
    font-weight: bold;
    text-decoration: none;
    color: darkred;
}

/*main*/

.news {
    margin: 20px 0;
    border-bottom: 3px solid #5bc0de;
}

.news-title {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    padding: 20px 0;
}

.new-top {
    height: 160px;
    width: 400px;
    margin: 10px auto;
    border: 1px solid #5bc0de;
    box-shadow:
            0 1px 4px rgba(0, 0, 0, .3),
            0 0 40px rgba(0, 0, 0, .1) inset;
    transition: 1s;
    border-radius: 25px;
    text-align: center;
}

.new-bottom {
    height: 160px;
    width: 400px;
    margin: 10px auto;
    border: 1px solid #5bc0de;
    box-shadow:
            0 1px 4px rgba(0, 0, 0, .3),
            0 0 40px rgba(0, 0, 0, .1) inset;
    transition: 1s;
    border-radius: 25px;
    text-align: center;
}

.popular {
    width: 800px;
    margin: auto;
}

.popular-title {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    padding: 20px 0;
}
.description-book {
    margin: auto;
    display: block;
}

.cover-img {
    width: 180px;
    height: 300px;
}

.name-book {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

/*footer*/
footer {
    margin-top: 200px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #5bc0de;
}

.footer {
    margin-top: 200px;
}

.lower-menu {
    text-decoration: none;
    font-weight: bold;
}

.menu-item {
    color: darkred;
}

.address {
    margin-top: 20px;
    width: 400px;
    text-align: center;
    color: darkred;
    font-weight: bold;
}

/* authorization.php */

.form-auth {
    margin: 30px auto;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-radius: 30px;
}

.form {
    margin-top: 100px;
}

.submit {
    margin-left: 100px;
}

div.field {
    padding-bottom: 5px;
    margin-top: 50px;
}
div.field label {
    display: block;
    float: left;
    width: 70px;
    height: 15px;
}

/* listOfBooks*/

.cover-img-list {
    width: 120px;
    height: 180px;
}